<!DOCTYPE html>
<html>

<head>
    <h1 class="title"> Blog <h1>
</head>

<body>
    <% @posts.each do |p| %>
        <p><%= p.title %>, <%= p.author_name %>, <%= p.category %></p>
    <% end %>
</body>

</html>  