<head>
    <h4 class = "show_category"> <%= @post.category%></h4>
    </head>
<body>
    <h3 class = "show_title"> <%= @post.title %> </h3>
    <h4 class = "show_author"> by <%= @post.author_name%></h4>
    </br>
    </br>
    <div class = "show_content"> <%= @post.content %></div>
</body>