/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* CSS for Application.html */

body {
    background-color: #FFFBF0;
    font-family: 'Roboto', sans-serif;
    
}

ul {    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #c8d8e4;
}


li  {   float: left;
}

li a{   
    font-size: 25pt;
    font-weight: 70;
    display: block;
    color: #2d2d2d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
background-color: #BFCDD7;
}

h4{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}










 /* CSS for index.html */

.post_fields {
    margin-top: 5%;
    margin-left: 15%;
    font-size: 20pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 70;
}

.post_header {
    margin-top: 5%;
    margin-left: 10%;
    text-align: left;

}

.show_button {
        font-weight: 400;
        margin-left: 5%;
        color: #2d2d2d;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
}

.show_button:hover {
    background-color: #DFDCD2;
}










/* CSS for new.html */

input[type=text] {
    margin-left: 30%;
    width: 40%;
    text-align: center;
    padding: 12px 20px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 12px;

}

textarea {
    margin-left: 10%;
    width: 80%;
    padding: 300px 12px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    border-radius: 12px;
}
.form_title {
    font-size: 25pt;
        font-weight: 70;
        display: block;
        color: #2d2d2d;
        
}

.form_button {
    margin-left: 40%;
    width: 20%;
    height: 40%;
    text-align: center;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15pt;
    padding: 14px 16px;
    border-radius: 12px;
    background-color: white;
}

.title  {
    float: right;
    font-size: 40pt;
    font-weight: 70;
    display: block;
    color: #2d2d2d;
    background-color: #BFCDD7;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none
}










/* CSS for show.html */

.show_title {
    text-align: center;
    font-size: 40px;
    font-weight: 350;
    font-family: 'Open Sans', sans-serif;
}

.show_content {
    text-align: center;
    font-size: 20px;
    font-weight: 350;
    font-family: 'Open Sans', sans-serif;
}

.show_category {
    font-style: italic;
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.show_author {
    font-style: italic;
    text-align: center;
    font-size: 20px;
    font-weight: 350;
    font-family: 'Open Sans', sans-serif;
}

.delete_button {
    font-weight: 70;
    margin-right: 5%;
    float: right;
    color: #2d2d2d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.delete_button:hover {
    background-color: #DFDCD2;
}