/* CSS for show.html */

.show_title {
    text-align: center;
    font-size: 40px;
    font-weight: 70;
    font-family: 'Open Sans', sans-serif;
}

.show_content {
    padding-block: 12pt;
    font-size: 20px;
    font-weight: 350;
    font-family: 'Open Sans', sans-serif;
}

.show_category {
    font-style: italic;
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.show_author {
    font-style: italic;
    text-align: center;
    font-size: 22px;
    font-weight: 70;
    font-family: 'Open Sans', sans-serif;
}

.btn {
    background-color: #EDF4FF;
    color: black;
    border: none;
}

.btn:hover{
    background-color: #CFE2FF
}

.comment_title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 20pt;
    text-align: left;
    padding-block: 12px;
    text-decoration: underline black 1px;
}

.comment_list {
    
    text-align: left;
    margin-left: 10pt;
    list-style-type: none;
    
}

li {
    text-align: left;
    margin-left: 10pt;
    padding-block: 5pt;
    list-style-type: none;
}

.name {
    text-align: left;
    margin-left: 10pt;
    font-size: 10pt;
}

.comment {
    text-align: left;
    margin-left: 10pt;
}

.head {
    background-color: #EDF4FF;
}